<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-JuanCarlos_GarciaRendonMartinez/blob/main/Actividad_de_semana_1_2_Python_for_Data_Science_(IBM_1_3).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Module 1 - Python Basics

In [ ]:
#Imprime prueba
print("Hello Python 101")
print("Hello\nWorld!")
# print('Hello World!')

Hello Python 101
Hello
World!

In [ ]:
#Types

type(int(1.0))
type(bool(1))

In [ ]:
#Expressions and Variables

50-60
25/5
25//6
2*60+30
30+2*60
x=43+60+16+41
y= x/60
y
total_min = 43 + 42 
total_hr = total_min / 60
total_hr

1.4166666666666667

In [ ]:
#String Operations

Name ="Michael Jackson"
Name[0]
Name[-1]
Name[0:4]
Name[::2]
Name[0:5:2]
len(Name)
Statement = Name + " is the best"
Statement
3*Name
print(" Michael Jackson \t is the best")
print(" Michael Jackson \\t is the best")
print(r" Michael Jackson \ is the best")
A="Thriller is the sixth studio album"
B=A.upper()
B
A="Michael Jackson is the best"
B=A.replace("Michael", "Janet")
B
Name.find("el")
Numbers = "0123456"
Numbers[::2]
"0123456".find('1')

 Michael Jackson 	 is the best
 Michael Jackson \t is the best
 Michael Jackson \ is the best

1

In [ ]:
#Review Questions
##1. What is the result of the following operation in Python:
3 + 2 * 2

##2. In Python, if you executed name = 'Lizz', what would be the output of print(name[0:2])?
name = "Lizz"
print(name[0:2])

##3. In Python, if you executed var = '01234567', what would be the result of print(var[::2])?
var = '01234567'
print(var[::2])

##4. In Python, what is the result of the following operation '1'+'2'?
'1'+'2'

##5. Given myvar = 'hello', how would you convert myvar into uppercase?
myvar = 'hello'
myvar.upper()
myvar

Li
0246

'hello'

# Module 2 - Python Data Structures

In [ ]:
#Lists and Tuples

Tuple1 =("disco", 10, 1.2)
Tuple1[0]
Tuple1[-1]
tuple2= Tuple1 + ("hard rock", 10)
tuple2
tuple2[0:3]
Ratings=(10,9,6,5,10,8,9,6,2)
Ratings1=Ratings
RatingsSorted=sorted(Ratings)
RatingsSorted
NT=(1,2,("pop", "rock"), (3,4), ("disco",(1,2)))
NT
NT[2][1]

L = ["Michael Jackson", 10.1, 1982] 
L[0]
L[-2]
L[0:2]
L1 = L+["pop", 10]
L1
L.extend(["pop",10])
L
L.append(["pop",10])
L
A=["hard rock", 10, 1.2]
del(A[0])
A
"hard rock".split()

##How do you access the last element of the following tuple: A=(0,1,2,3)? Select all possible correct answers.
A=(0,1,2,3)
A[3]
A[-1]

##Consider the list: B=["a","b","c"]. What is the result of the following B[1:]?
B=["a","b","c"]
B[1:]

['b', 'c']

In [ ]:
#Sets
Set1={"pop", "rock", "soul", "hard rock", "rock"}
Set1
album_list=["Michael Jackson", "Thriller", "Thriller", 1982]
album_set=set(album_list)
album_set
A={"Thriller", "Back in Black", "AC/DC"}
A.add("NSYNC")
A
A.remove("NSYNC")
A
"AC/DC" in A
"Who" in A
album_set_1={"AC/DC", "Back in Black", "Thriller"}
album_set_2={"AC/DC", "Back in Black", "The Dark Side of the Moon"}
album_set_3=album_set_1 & album_set_2
album_set_3
album_set_1.union(album_set_2)
album_set_3.issubset(album_set_1)

##What is the result of the following lines of code: S={'A','B','C'} U={'A','Z','C'} U.union(S)
S={'A','B','C'} 
U={'A','Z','C'} 
U.union(S)

##What is the intersection of set S and U? S={'A','B','C'}  U={'A','Z','C'} 
S={'A','B','C'}  
U={'A','Z','C'}
S & U

{'A', 'C'}

In [ ]:
#Dictionaries

Dict = {"Thriller": 1982, "Back in Black": 1980, "The Dark Side of the Moon": 1973, "The Bodyguard": 1992}
Dict["The Bodyguard"]
Dict["Graduation"]= "2007"
Dict
del(Dict["Thriller"])
Dict
"The Bodyguard" in Dict
("The Bodyguard", "Thriller") in Dict
Dict.keys()
Dict.values()

##Consider the following dictionary:  D = {'a':0,'b':1,'c':2} What is the result of the following: D.values()?
D = {'a':0,'b':1,'c':2} 
D.values()

##Consider the following dictionary: D = {'a':0,'b':1,'c':2} What is the output of the following D['b']?
D = {'a':0,'b':1,'c':2}
D['b']

1

In [ ]:
#Review Questions

## What is the syntax used to obtain the first element of the tuple: A = ('a','b','c')
A = ('a','b','c')
A[0]

## After applying the following method, L.append(['a','b']), the following list will only be one element longer.
L = ["x","y"]
L.append(['a','b'])
L

## How many duplicate elements can you have in a set?


## Consider the following Python dictionary: Dict={"A":1,"B":"2","C":[3,3,3],"D":(4,4,4),'E':5,'F':6} What is the result of the following operation: Dict["D"]?
Dict={"A":1,"B":"2","C":[3,3,3],"D":(4,4,4),'E':5,'F':6} 
Dict["D"]

## What is an important difference between lists and tuples?

(4, 4, 4)

#Module 3 - Python Programming Fundamentals

In [2]:
#Conditions and Branching
a=6
a==7
i=6
i>=5
i!=6
"AC/DC" == "Michael Jackson"

age=19
if(age>18):
  print("you can enter")
else:
  print("go see Meat Loaf")
print("move on")

age=18
if(age>18):
  print("you can enter")
elif(age==18):
  print("go see Pink Floyd")
else:
  print("go see Meat Loaf")
print("move on")

album_year = 1990
if(album_year <1980) or (album_year > 1989):
  print("The Album was made in the 70s or 90s")
else:
  print("The Album was made in the 1980s")

##Select the values of i that produces a True for the following: i!=0
i=1
i!=0

##What is the output of the following: 
#x='a'  
#if(x!='a'):
#print("This is not a.")
#else:
#print("This is a.")

x='a'  
if(x!='a'):
  print("This is not a.")
else:
  print("This is a.")

you can enter
move on
go see Pink Floyd
move on
The Album was made in the 70s or 90s
This is a.

In [18]:
#Loops

range(3)
range(10,15)
squares=["red","yellow","green","purple","blue"]
for i in range(0,5):
  squares[i]="white"
squares

for square in squares:
  square

squares=["red","yellow","green","purple","blue"]
for i, square in enumerate(squares):
  print(square)
  print(i)

squares=["orange","orange","purple","blue"]
Newsquares=[]
i=0
while(squares[i]=="orange"):
   Newsquares.append(squares[i])
   i=i+1

Newsquares

## What is the output of the following lines of code: A=[3,4,5] for a in A: print(a)
A=[3,4,5]
for a in A:
  print(a)

## What is the output of the following lines of code:  x=3 y=1  while(y!=x): print(y) y=y+1  
x=3
y=1
while(y!=x):
 print(y)
 y=y+1

red
0
yellow
1
green
2
purple
3
blue
4
3
4
5
1
2

In [44]:
#Functions

album_ratings= [10.0, 8.5, 9.5, 7.0, 7.0, 9.5, 9.0, 9.5]
L=len(album_ratings)
L
S=sum(album_ratings)
S
sorted_album_rating = sorted(album_ratings)
sorted_album_rating
album_ratings.sort()
album_ratings

def add1(a):
 b=a+1
 return b

add1(5)

def Mult(a,b):
  c=a*b
  return c

Mult(2,3)

def MJ():
  print("Michael Jackson")

MJ()

def NoWork():
  pass

print(NoWork())

def add1(a):
  b=a+1;
  print(a, "plus 1 equals ", b)
  return b

add1(2)

def printStuff(Stuff):
  for i,s in enumerate(Stuff):
    print("Album",i,"Rating is ",s)

album_ratings=[10,8.5,9.5]
printStuff(album_ratings)

## What is the value of c after the following block of code is run ?
a=1
def add(b):
 return a+b
c=add(10)
c

## What is the value of c after the following block of code is run with proper numerical input?
def f(*x):
 return sum(x)

d =f(5,3)
d

Michael Jackson
None
2 plus 1 equals  3
Album 0 Rating is  10
Album 1 Rating is  8.5
Album 2 Rating is  9.5

8

In [62]:
#Objects and Classes
type([1,34,3])
type(1)
type("The cat is yellow")
type({"dog":1, "Cat":2})

class Circle(object):
  def __init__(self,radius,color):
    self.radius=radius;
    self.color=color;
  def add_radius(self,r):
    self.radius= self.radius + r;   

class Rectangle(object):
  def __init__(self, color, height, width):
    self.height = height;
    self.width = width;
    self.color = color;


RedCircle=Circle(10,"red")
RedCircle.radius
RedCircle.add_radius(2)
RedCircle.radius

dir(RedCircle)

## Using the Class Car in the lab, create a Car object with the following attributes:
class Car(object):
    def __init__(self,make,model,color):
        self.make=make;
        self.model=model;
        self.color=color;
        self.owner_number=0 
    def car_info(self):
        print("make: ",self.make)
        print("model:", self.model)
        print("color:",self.color)
        print("number of owners:",self.owner_number)
    def sell(self):
        self.owner_number=self.owner_number+1

make="Honda"
model="Accord"
color="blue"

Z = Car("Honda", "Accord", "blue")
Z.car_info()

make:  Honda
model: Accord
color: blue
number of owners: 0

In [67]:
#Review Questions

##1.What is the output of the following lines of code:
x=1
if(x!=1):
 print('Hello')
else:
 print('Hi')
print('Mike')

##2. What is the output of the following few lines of code?
A = ['1','2','3']
for a in A:
 print(2*a)

 ##3. Consider the function Delta, when will the function return a value of 1
def Delta(x):
 if x==0:
  y=1;
 else:
  y=0;
 return(y)

Delta(0)

##4. What is the correct way to sort the list 'B' using a method? The result should not return a new list, just change the list 'B'.

##5. What are the keys of the following dictionary: {'a':1,'b':2}?
dict= {'a':1,'b':2}
dict.keys()

Hi
Mike
11
22
33

dict_keys(['a', 'b'])