<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-JuanCarlos_GarciaRendonMartinez/blob/main/Actividad_de_semana_1_2_Python_for_Data_Science_(IBM_1_3).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Module 1 - Python Basics

In [3]:
#Imprime prueba
print("Hello Python 101")
print("Hello\nWorld!")
# print('Hello World!')

Hello Python 101
Hello
World!

In [16]:
#Types

type(int(1.0))
type(bool(1))

In [27]:
#Expressions and Variables

50-60
25/5
25//6
2*60+30
30+2*60
x=43+60+16+41
y= x/60
y
total_min = 43 + 42 
total_hr = total_min / 60
total_hr

1.4166666666666667

In [53]:
#String Operations

Name ="Michael Jackson"
Name[0]
Name[-1]
Name[0:4]
Name[::2]
Name[0:5:2]
len(Name)
Statement = Name + " is the best"
Statement
3*Name
print(" Michael Jackson \t is the best")
print(" Michael Jackson \\t is the best")
print(r" Michael Jackson \ is the best")
A="Thriller is the sixth studio album"
B=A.upper()
B
A="Michael Jackson is the best"
B=A.replace("Michael", "Janet")
B
Name.find("el")
Numbers = "0123456"
Numbers[::2]
"0123456".find('1')

 Michael Jackson 	 is the best
 Michael Jackson \t is the best
 Michael Jackson \ is the best

1

In [58]:
#Review Questions
##1. What is the result of the following operation in Python:
3 + 2 * 2

##2. In Python, if you executed name = 'Lizz', what would be the output of print(name[0:2])?
name = "Lizz"
print(name[0:2])

##3. In Python, if you executed var = '01234567', what would be the result of print(var[::2])?
var = '01234567'
print(var[::2])

##4. In Python, what is the result of the following operation '1'+'2'?
'1'+'2'

##5. Given myvar = 'hello', how would you convert myvar into uppercase?
myvar = 'hello'
myvar.upper()
myvar

Li
0246

'hello'

# Module 2 - Python Data Structures

In [96]:
#Lists and Tuples

Tuple1 =("disco", 10, 1.2)
Tuple1[0]
Tuple1[-1]
tuple2= Tuple1 + ("hard rock", 10)
tuple2
tuple2[0:3]
Ratings=(10,9,6,5,10,8,9,6,2)
Ratings1=Ratings
RatingsSorted=sorted(Ratings)
RatingsSorted
NT=(1,2,("pop", "rock"), (3,4), ("disco",(1,2)))
NT
NT[2][1]

L = ["Michael Jackson", 10.1, 1982] 
L[0]
L[-2]
L[0:2]
L1 = L+["pop", 10]
L1
L.extend(["pop",10])
L
L.append(["pop",10])
L
A=["hard rock", 10, 1.2]
del(A[0])
A
"hard rock".split()

##How do you access the last element of the following tuple: A=(0,1,2,3)? Select all possible correct answers.
A=(0,1,2,3)
A[3]
A[-1]

##Consider the list: B=["a","b","c"]. What is the result of the following B[1:]?
B=["a","b","c"]
B[1:]

['b', 'c']

In [112]:
#Sets
Set1={"pop", "rock", "soul", "hard rock", "rock"}
Set1
album_list=["Michael Jackson", "Thriller", "Thriller", 1982]
album_set=set(album_list)
album_set
A={"Thriller", "Back in Black", "AC/DC"}
A.add("NSYNC")
A
A.remove("NSYNC")
A
"AC/DC" in A
"Who" in A
album_set_1={"AC/DC", "Back in Black", "Thriller"}
album_set_2={"AC/DC", "Back in Black", "The Dark Side of the Moon"}
album_set_3=album_set_1 & album_set_2
album_set_3
album_set_1.union(album_set_2)
album_set_3.issubset(album_set_1)

##What is the result of the following lines of code: S={'A','B','C'} U={'A','Z','C'} U.union(S)
S={'A','B','C'} 
U={'A','Z','C'} 
U.union(S)

##What is the intersection of set S and U? S={'A','B','C'}  U={'A','Z','C'} 
S={'A','B','C'}  
U={'A','Z','C'}
S & U

{'A', 'C'}

In [126]:
#Dictionaries

Dict = {"Thriller": 1982, "Back in Black": 1980, "The Dark Side of the Moon": 1973, "The Bodyguard": 1992}
Dict["The Bodyguard"]
Dict["Graduation"]= "2007"
Dict
del(Dict["Thriller"])
Dict
"The Bodyguard" in Dict
("The Bodyguard", "Thriller") in Dict
Dict.keys()
Dict.values()

##Consider the following dictionary:  D = {'a':0,'b':1,'c':2} What is the result of the following: D.values()?
D = {'a':0,'b':1,'c':2} 
D.values()

##Consider the following dictionary: D = {'a':0,'b':1,'c':2} What is the output of the following D['b']?
D = {'a':0,'b':1,'c':2}
D['b']

1

In [133]:
#Review Questions

## What is the syntax used to obtain the first element of the tuple: A = ('a','b','c')
A = ('a','b','c')
A[0]

## After applying the following method, L.append(['a','b']), the following list will only be one element longer.
L = ["x","y"]
L.append(['a','b'])
L

## How many duplicate elements can you have in a set?


## Consider the following Python dictionary: Dict={"A":1,"B":"2","C":[3,3,3],"D":(4,4,4),'E':5,'F':6} What is the result of the following operation: Dict["D"]?
Dict={"A":1,"B":"2","C":[3,3,3],"D":(4,4,4),'E':5,'F':6} 
Dict["D"]

## What is an important difference between lists and tuples?

(4, 4, 4)

#Module 3 - Python Programming Fundamentals

In [145]:
#Conditions and Branching
a=6
a==7
i=6
i>=5
i!=6
"AC/DC" == "Michael Jackson"

age=19
if(age>18):
  print("you can enter")
else:
  print("go see Meat Loaf")
print("move on")

age=18
if(age>18):
  print("you can enter")
elif(age==18):
  print("go see Pink Floyd")
else:
  print("go see Meat Loaf")
print("move on")

album_year = 1990
if(album_year <1980) or (album_year > 1989):
  print("The Album was made in the 70s or 90s")
else:
  print("The Album was made in the 1980s")

##Select the values of i that produces a True for the following: i!=0
i=1
i!=0

##What is the output of the following: 
#x='a'  
#if(x!='a'):
#print("This is not a.")
#else:
#print("This is a.")

x='a'  
if(x!='a'):
  print("This is not a.")
else:
  print("This is a.")

you can enter
move on
go see Pink Floyd
move on
The Album was made in the 70s or 90s
This is a.